{% extends 'base.html' %}

{% block title %}My Posts{% endblock %}

{% block content %}
    <h1 class="page-title">My Posts</h1>
    
    {% if user.is_authenticated %}
        <div class="post-btn"> 
            <a href="{% url 'post-create' %}" class="btn btn-primary">Create New Post</a>
        </div>
        <ul class="post-list">
            {% for post in posts %}
                {% if post.author == user %}
                    <div class="post-card">
                        <div class="post-card-image">
                            {% if post.image %}
                                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                            {% endif %}
                        </div>
                        <div class="post-card-content">
                            <h3><a href="{% url 'post-detail' pk=post.pk %}">{{ post.title }}</a></h3>
                            <p class="post-meta">Published on {{ post.published_date|date:"F j, Y" }} by {{ post.author.username }}</p>
                            <p>{{ post.content|truncatewords:30 }}</p>
                            <div>
                                <!-- Display the tags with links -->
                                <p>Tags: 
                                    {% for tag in post.tags.all %}
                                        <a href="{% url 'post_by_tag' tag.slug %}">{{ tag.name }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                            <a href="{% url 'post-detail' pk=post.pk %}">Read more...</a>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <p class="no-posts">You don't have blog posts available.</p>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-posts">You need to be logged in to view your posts.</p>
    {% endif %}
{% endblock %}
